@charset "utf-8";
/* CSS Document
HTML and Body Styles*/
html{background-color:hsla(187,68%,75%,0.85)}
body{color:rgba(6,6,6,1.00);
	background-color:#ECECEC;
	font-size: 1em
	}
header {color: black}
h1 {color: black; 
	text-align: left;
	font-size: 240%;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	}
h2 {color: black; 
	font-size: 180%;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
	}
nav ul{color: #0C2FD1;
	padding-bottom:10px;
	list-style-type: none;
	padding-left: 10px;}
section {color:black}
footer {color: black ; text-align: center}